@import '../styles/global.scss';

.content{
    padding-top: 4rem;
    width: 60%;
    @include set_margin();
    .bowl{
        width: 50%;
        padding-top: 4rem;
        position: absolute;
        left: 40%;
        img{
            padding-right: 2rem;
            width: 100%;
        }
        .bowl__container{
            width: 100%;
            background:black;
            position: absolute;
            right: 50%px;
            top: 80%;
            opacity: 0.8;
            border-radius: 10px;
            .bowl__content{
                &:hover{
                    visibility:visible;
                }
                visibility: hidden;
                visibility:visible;
                // position: absolute;
                // left: 500px;
                // top: 800px;
                border-radius: 10px;
                padding: 20px;
                background: pink;
                & > * {
                    color: white;
                }
            }
        }
    }
    h1{
        @include h1;
    }
    .here{
        width: 50%;
        border-radius: 10px;
        border:4px pink solid;
    }
    p{
        @include h2;
        font-weight: bold;
    }
}