@import './global.scss';

.project{ 
    & > * {
        text-align: center;
    }
    @include set_margin();
    .project__title{
        @include hero;
        padding-left: 25%;
        padding-right: 25%;
        width: 50%;
        margin-top: 8rem;
        background: linear-gradient(140deg,#E41980 10%,#67146E 60%);
        text-align: center;
    }
    &__idea{
        h1{
            @include h1;
        }
        p{
            padding: 0 6rem;
            @include h2;
        }
    }
    figure{
        .show_pic{
            & > * {
                width:300px;
                height: 300px;
            }
        }
    }
}